@import url("https://fonts.googleapis.com/css2?family=Charm&display=swap");

.contract_edit {
  border: rgb(116, 41, 6) solid 2px;
  outline: 4px solid rgb(116, 41, 6);
  outline-offset: 15px;
  width: 925px;
  height: 500px;
  align-content: center;
  justify-content: center;
}
.contract_edit_form {
  background-image: url("img/12smaller.png");
  background-repeat: no-repeat;
  font-family: "Charm", cursive;
  text-align: center;
  color: hwb(38 14% 73% / 0.97);
}

.contract_edit_h2 {
  text-align: center;
  color: rgb(116, 41, 6);
  padding-top: 20px;
  padding-bottom: 25px;
}

.contract_edit_submit {
  float: right;
  margin-right: 30px;
  margin-top: 5px;
  background-color: antiquewhite;
  border: 2px rgb(116, 41, 6) solid;
  width: 80px;
  text-align: center;
}

.contract_edit_delete {
  float: left;
  margin-left: 30px;
  margin-top: 5px;
  background-color: antiquewhite;
  border: 2px rgb(116, 41, 6) solid;
  width: 55px;
  text-align: center;
}
