@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

.container{

  font-family: "Shadows Into Light", cursive;
  font-weight: bold;  
  border-style: double;
  outline: 4px solid rgb(116, 41, 6);
  outline-offset: 5px;
  border-radius: 3%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  color: rgb(117, 73, 30);

}

.TopSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.BottomSide{
  padding-top: 20px;
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 10px;
  
}
.guard_profile_h4 {
  font-weight: bold;
}


.guard_profile_image {
  max-height: auto;
  max-width: 100%;
  object-fit: contain;
  /* object-position: 20% 10%; */
}


.guard_profile_edit_button {
  width: 50px;
  height: 25px;
  text-align: center;
 
}

.guard_profile_contract_button {
  width: 80px;
  height: 25px;
  text-align: center;
  float: right;
 
 
}
