@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

.profiles-page {
  display: flex;
  flex-wrap: wrap;
}

.guards_profile {
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
  font-size: larger;
  text-transform: uppercase;

  text-align: center;
  width: 20vw;
  border-style: double;
  outline: 4px solid rgb(116, 41, 6);
  outline-offset: 5px;
  border-radius: 3%;
  margin: 20px;
  padding: 1.5rem;
  color: rgb(117, 73, 30);
  /* padding-left: 10px; */
  justify-content: center;
  align-content: center;
}

.guard_profile_search-wrapper {
  display: flex;
  height: 35px;
  justify-content: center;
}

.topOfPage {
  position: sticky;
  top: 55px;
  left: 0;
  z-index: 2;
}

a:link {
  text-decoration: none;
}
